@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap');

@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

body{
  font-family: 'Outfit', sans-serif;
  color: white;
  background-color: black;
}

.im{
  background-image: url();
}

::-webkit-scrollbar {
  display: none;
}

.os {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  letter-spacing: 1rem;
}

@media (max-width: 768px) {
  .os {
    letter-spacing: 0.5rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
  }
}